.vert {
  height: 140px;
  width: 50px;
  border-top: 560px solid rgb(173, 122, 27);
  border-left: 10px ;
  border-right: 20px ;
  position: absolute;
  top: 50px;
  left: 600px; 
}
.horz {
  height: 50px;
  width: 400px;
  border-top: 50px solid rgb(173, 122, 27);
  border-left: 175px ;
  border-right: 150px ;
  position: absolute;
  top: 20px;
  left: 600px; 

}
.head {
  background: bisque;
  height: 100px;
  width: 100px;
  border-radius: 100px 100px 60px 60px;
  position: absolute;
  top: 100px;
  left: 870px;
}
 
.chest {
  height: 40px;
  width: 40px;
  border-top: 200px solid darkgoldenrod;);
  border-left: 75px ;
  border-right: 75px ;
  border-radius: 100px 100px 100px 100px;
  position: absolute;
  top: 200px;
  left: 900px; 
}

.leftarm {
  height: 30px;
  width: 150px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid darkgoldenrod;
  position: absolute;
  top: 150px;
  left: 740px;
  transform: rotate(230deg);
 
}
.rightarm {

  height: 30px;
  width: 150px;
  background: rgb(223, 183, 97);
  border-radius: 50px 100px 100px 50px;
  border: 15px solid darkgoldenrod;
  position: absolute;
  top: 150px;
  left: 935px;
  transform: rotate(140deg);
 
}
.leftfoot {
  height: 40px;
  width: 180px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid darkgoldenrod;; 
  position: absolute;
  top: 450px;
  left: 720px;
  transform: rotate(120deg);
}
  .rightfoot {
  height: 40px;
  width: 180px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid darkgoldenrod;;
  position: absolute;
  top: 450px;
  left: 900px;
  transform: rotate(65deg);
 
}
  
  #counterDisplay {
    color: beige;
    font-size: 20px;
  }
  #go-btn {
    background-color: brown;
    margin: 5px;
    border-radius: 100px 100px 100px 100px;
    border: 3px solid black;
    
  }
  
  #banner {
    width: 500px;
    font-family: sans-serif;
    font-size: 30px;
  }
  #wordInput {
      font-size: 40px;
  }
   #gameWord {
      font-size: 30px;
      background-color: burlywood;
      color: white;
      
  }
  #gameDisplay {
    font-weight: bold;
    text-emphasis: bold;
    background: none;
    align-items: center;
    width: 400px;
    height: 200px;
    color: beige
    

    

  }
  
  button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
    font-family: sans-serif
   
  }
  
  button:hover {
    cursor: pointer;
    background: green;
    color: white;             
  }

  .play-area {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    margin: 50px;
    align-items: center;
    font-family: sans-serif
  }
  .block {
  
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    font-family: sans-serif;
    background: darkgoldenrod;
    border-radius: 50px 50px 10px 10px;
  }
  
  .selectors {
    display: grid;
    max-width: 100px;
    grid-template-columns: 160px 150px;
    margin: 20px;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
  }
  .selectButton {
  
    width: 150px;
    height: 20px;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 100px 100px 100px 100px;
 
    background: darkgoldenrod;
  }
  
  .select:hover {
    cursor: pointer; 
    background:  yellow;
  }
  .block:hover {
    background: yellow;
  }
  /*from starter */
  .wrapper {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: 60px 250px auto 50px;
  grid-gap: 3px; 
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}



body {
  grid-column: span 2;
   background-image: url(http://getwallpapers.com/wallpaper/full/9/f/6/29324.jpg#.X_3C3tTL3wQ.link);
  background-repeat: no-repeat;
  background-position: 0 65%;
  width: 1000px;
  background-size: cover;
  text-align: center;
}





