.vert {
  height: 150px;
  width: 50px;
  border-top: 570px solid rgb(173, 122, 27);
  border-left: 10px ;
  border-right: 20px ;
  position: absolute;
  top: 50px;
  left: 600px; 
}
.horz {
  height: 50px;
  width: 400px;
  border-top: 50px solid rgb(173, 122, 27);
  border-left: 175px ;
  border-right: 150px ;
  position: absolute;
  top: 20px;
  left: 600px; 

}
.head {
  background: rgb(50, 186, 228);
  height: 100px;
  width: 100px;
  border-radius: 100px 100px 60px 60px;
  position: absolute;
  top: 100px;
  left: 870px;
}
 
.chest {
  height: 40px;
  width: 40px;
  border-top: 200px solid rgb(39, 54, 197);
  border-left: 75px ;
  border-right: 75px ;
  border-radius: 100px 100px 100px 100px;
  position: absolute;
  top: 200px;
  left: 900px; 
}

.leftarm {
  height: 30px;
  width: 150px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid blue;
  position: absolute;
  top: 150px;
  left: 740px;
  transform: rotate(230deg);
 
}
.rightarm {

  height: 30px;
  width: 150px;
  background: rgb(223, 183, 97);
  border-radius: 50px 100px 100px 50px;
  border: 15px solid blue;
  position: absolute;
  top: 150px;
  left: 935px;
  transform: rotate(140deg);
 
}
.leftfoot {
  height: 40px;
  width: 180px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid blue; 
  position: absolute;
  top: 450px;
  left: 720px;
  transform: rotate(120deg);
}
  .rightfoot {
  height: 40px;
  width: 180px;
  background: rgb(223, 183, 97);
  border-radius: 100px 50px 50px 100px;
  border: 15px solid blue;
  position: absolute;
  top: 450px;;
  left: 900px;

  transform: rotate(65deg);
 
}
  
  
  
  
  #banner {
    width: 500px;
  }
  #wordInput {
      font-size: 20px;
  }
   #gameWord {
      font-size: 20px;
  }
  #gameDisplay {
    font-weight: bold;
    background: none;
    align-items: center;
    width: 300px;
    height: 50px;

    

  }
  
  button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    align-items: center;
   
  }
  
  button:hover {
    cursor: pointer;
    background: green;
    color: white;             
  }

  .play-area {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin: 70px;
    align-items: center;
  }
  .block {
  
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
 
    background: white;
  }
  
  .selectors {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 150px 150px;
    margin: 10px;
    align-items: center;
  }
  .selectButton {
  
    width: 150px;
    height: 20px;
    align-items: center;
    text-align: center;
   
    font-weight: bold;
    border: 3px solid black;
 
    background: white;
  }
  
  .select:hover {
    cursor: pointer; 
    background:  yellow;
  }
  .block:hover {
    background: yellow;
  }
  /*from starter */
  .wrapper {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: 60px 250px auto 50px;
  grid-gap: 3px; 
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

header {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

header h1 {
  margin: 12px 0;
  padding: 0;
}

nav ul {
  display: flex;
  width: 335px;
  justify-content: space-between;
}

nav ul li {
  width: 100px;
  list-style-type: none;
  background: #000;
  text-align: center;
  padding: 6px 4px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

body {
  grid-column: span 2;
  background-image: url(http://getwallpapers.com/wallpaper/full/2/e/b/1406291-cool-inspirational-background-pictures-1920x1200.jpg);
  background-repeat: no-repeat;
  background-position: 0 65%;
  width: 1000px;
  background-size: cover;
  text-align: center;
}

section.hero blockquote {
  font: bold 3em 'Pinyon Script', cursive;
  margin-bottom: 0;
}




